.fade-section {
  /*opacity: 0;*/
  transform: translateY(3rem);
  transition: all 0.6s ease-in-out;

  &.inview {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientbutton {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes jump {
  0% { 
    transform: translateY(0);
  }
  5% {
    transform: translateY(-0.5rem);
  }
  10% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}